main {
  padding: 30px 20px 30px 20px;
}

.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list__img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list__img img {
  width: 50px;
}

.item-list__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 120px;
}

.item-list__info-meta {
  font-size: smaller;
  color: gray;
}

.item-list__info-price {
  font-weight: bold;
  font-size: 20px;
}

.item-list__info div {
  margin-top: 10px;
}

.write-btn {
  background-color: var(--botton-primary);
  color: white;
  border-radius: 20px;
  padding: 15px 17px 15px 17px;
  position: fixed;
  bottom: 200px;
  right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.write-btn:hover {
  background-color: var(--botton-hover);
}
